.Product {
  width: 1100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.Product .Product-card {
  width: 300px;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.Product .Product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
}

.Product .Product-card .Product-card-body {
  width: 100%;
  padding: 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Product .Product-card .Product-card-body h1 {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
}

.Product .Product-card .Product-card-footer {
  width: 100%;
  margin: 1rem 0;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
}
