.Product {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Product .Product-container {
  display: flex;
}

.Product .Product-container .Product-left img {
  width: 400px;
}
