.Checkout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Checkout .Checkout-container {
  width: 1100px;
}

.Checkout .Checkout-container > div {
  padding: 2rem;
}

.Checkout-stepper {
  margin: 2rem 0;
}
