.Navbar {
  width: 100vw;
  padding: 2.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.Navbar .Navbar-inner-container {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar .Navbar-inner-container h1 {
  color: black;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 3rem;
}

.Navbar .Navbar-inner-container .Navbar-links {
  display: flex;
  align-items: center;
}

.Navbar .Navbar-inner-container .Navbar-links a {
  color: black;
  margin-left: 1.4rem;
  display: inline-block;
  transition: all 0.1s;
}

.Navbar .Navbar-inner-container .Navbar-links a:hover {
  transform: scale(1.05);
}

.Navbar .Navbar-inner-container .Navbar-links .Navbar-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Navbar .Navbar-inner-container .Navbar-links .Navbar-cart img {
  width: 1.5rem;
  margin-left: 1rem;
}

.Navbar .Navbar-inner-container .Navbar-links .Navbar-cart p {
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: -10px;
  right: 0;
  font-weight: 700;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
