@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Montserrat:wght@100;200;300;400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.btn {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background-image: linear-gradient(
    145deg,
    rgba(200, 200, 200, 1) 70%,
    rgba(40, 40, 40, 1) 100%
  );
  color: white;
  box-shadow: 2px 4px 0 rgba(0, 0, 0, 1);
}

.btn:hover {
  cursor: pointer;
}

.btn-full {
  width: 100%;
  height: 50px;
  border: none;
  font-weight: bold;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: black;
}

.btn-full:hover {
  cursor: pointer;
}

.btn-full-disabled {
  width: 100%;
  height: 50px;
  border: none;
  font-weight: bold;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: black;
  opacity: 0.5;
}

select {
  outline: none;
  appearance: none;
}

select option {
  background: white;
}

.select-full {
  width: 100%;
  height: 50px;
  padding: 1rem;
}

.btn-remove {
  color: black;
}

.btn-remove:hover {
  cursor: pointer;
  color: red;
}
